body{
    background-color: #f0f0f0;
    font-family: sans-serif;
}

h1{
    color: black;
}

img{
    border-radius: 15%;
    width: 150px;
}

.bio{
    background-color: rgb(116, 192, 192);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    justify-content: center;
    display: flex;
    width: 20%;
    height: 25%;
    font-size: 10px;
    color: #f0f0f0;
    font-family: sans-serif;
}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sosmed{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.sosmed a {
  transition: all 0.3s ease;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.sosmed a:hover {
  transform: scale(1);
  box-shadow: 0 3px 0px rgb(255, 0, 0);
  border-radius: 7px;
}

.sosmed img{
    width: 40px;
    height: 40px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
    text-align: center;
  }

  img {
    width: 100px;
  }
}
